---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: immich
  namespace: flux-system
spec:
  interval: 5m
  ref:
    tag: 0.10.3
  url: oci://ghcr.io/immich-app/immich-charts/immich
