---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmrelease.yaml
configMapGenerator:
  - name: alloy-config
    namespace: alloy
    files:
      - config.alloy
    options:
      disableNameSuffixHash: true
